- extends "cms/base.html.haml"
- load breadcrumbs utils

- block title
  活動一覧

- block breadcrumbs
  - breadcrumb 'Home' 'cms:index'
  - breadcrumb 'Records' 'cms:life_logs'
  %li.breadcrumb-item.active Activities

- block content
  %h4.mt-4.border-bottom
    活動一覧
    %small.text-muted.ml-3= record.date|date:"Y-m-d"
  %a.btn.btn-primary.btn-sm.my-3{href: "{% url 'cms:create_activity' record_id=record.id %}"} 追加
  %table.table.table-striped.table-bordered.table-sm
    %thead
      %tr
        %th(scope="col") ID
        %th(scope="col") Type
        %th(scope="col") Name
        %th(scope="col") Spent Time
        %th(scope="col") Start
        %th(scope="col") End
        %th(scope="col")

    %tbody
      - if activities
        - for activity in activities
          %tr
            %th(scope="row")= activity.id
            %td= activity.activity_type
            %td= activity.name
            %td
              = activity.spent_time|divide:3600.0
              h
            %td= activity.start|date:"Y-m-d H:i T"
            %td= activity.end|date:"Y-m-d H:i T"
            %td
              %a.btn.btn-outline-primary.btn-sm{href: "{% url 'cms:edit_activity' record_id=record.id activity_id=activity.id %}"}
                修正
              %a.btn.btn-outline-danger.btn-sm.del_confirm{href: "{% url 'cms:destroy_activity' record_id=record.id activity_id=activity.id %}", 'data-toggle': "modal", 'data-target': "#deleteModal", 'data-pk': "{{activity.id}}"}
                削除
      - else
        %tr
          %td{'colspan': 7} No activities are available.

  - include 'partials/confirmation_modal.html.haml'
  - if is_paginated
    - include 'partials/pagination.html.haml'

  %a.btn.btn-outline-secondary.btn-sm{href: "{% url 'cms:life_logs' %}"} 戻る
