- extends "cms/base.html"
- block title
  活動一覧

- block content
  %h4.mt-4.border-bottom
    活動一覧
    %small.text-muted.ml-3= record.date|date:"Y-m-j"
  %a.btn.btn-primary.btn-sm.my-3{href: "{% url 'cms:create_activity' record_id=record.id %}"} 追加
  %table.table.table-striped.table-bordered.table-sm
    %thead
      %tr
        %th(scope="col") ID
        %th(scope="col") Type
        %th(scope="col") Name
        %th(scope="col") Start
        %th(scope="col") End
        %th(scope="col")

    %tbody
      - for activity in activities
        %tr
          %th(scope="row")= activity.id
          %td= activity.activity_type
          %td= activity.name
          %td= activity.start|date:"Y-m-j H:i T"
          %td= activity.end|date:"Y-m-j H:i T"
          %td
            %a.btn.btn-outline-primary.btn-sm{href: "{% url 'cms:edit_activity' record_id=record.id activity_id=activity.id %}"}
              修正
            %a.btn.btn-outline-danger.btn-sm{href: "{% url 'cms:destroy_activity' record_id=record.id activity_id=activity.id %}"}
              削除

  - if is_paginated
    %nav{'aria-label': "Page navigation"}
      %ul.pagination
        - if page_obj.has_previous
          %li.page-item
            %a.page-link{href: "?page={{ page_obj.previous_page_number }}", 'aria-label': "Previous"}
              %span(aria-hidden="true") &laquo;
              %span.sr-only Previous
        - else
          %li.page-item.disabled
            %a.page-link{href: "#", 'aria-label': "Previous"}
              %span(aria-hidden="true") &laquo;
              %span.sr-only Previous

        - for linkpage in page_obj.paginator.page_range
          - ifequal linkpage page_obj.number
            %li.page-item.active
              %a.page-link{href: "#"}= linkpage
          - else
            %li.page-item
              %a.page-link{href: "?page={{ linkpage }}"}= linkpage

        - if page_obj.has_next
          %li.page-item
            %a.page-link{href: "?page={{ page_obj.next_page_number }}", 'aria-label': "Next"}
              %span(aria-hidden="true") &raquo;
              %span.sr-only Next
        - else
          %li.page-item.disabled
            %a.page-link{href: "#", 'aria-label': "Next"}
              %span(aria-hidden="true") &raquo;
              %span.sr-only Next

  %a.btn.btn-outline-secondary.btn-sm{href: "{% url 'cms:life_logs' %}"} 戻る
