- extends "cms/base.html.haml"

- block title
  活動種別の編集

- block breadcrumbs
  %li.breadcrumb-item
    %a(title="Home" href="{% url 'cms:index' %}")
      %i.fa.fa-home
      Home
  %li.breadcrumb-item
    %a(title="Activity Types" href="{% url 'cms:activity_types' %}") Activity Types
  %li.breadcrumb-item.active Edit

-# - if error_message
-#   %p
-#     %strong= error_message

- block content
  %h4.mt-4.mb-5.border-bottom 活動種別の編集
  %form{action: "{% url 'cms:create_or_update_activity_type' %}", method: "post"}
    - csrf_token
    = form.id
    .form-group.row
      .col-md-2
        = form.name.label
      .col-md-6
        = form.name
        - include 'partials/error_display.html.haml' with errors=form.name.errors
    .form-group.row
      .col-md-2
        = form.color.label
      .col-md-6
        = form.color
        - include 'partials/error_display.html.haml' with errors=form.color.errors

    .form-group.row
      .offset-md-2.col-md-6
        %button.btn.btn-primary.btn-sm(type="submit") 送信

  %a.btn.btn-outline-secondary.btn-sm{href: "{% url 'cms:activity_types' %}"} 戻る
